<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/jsi18n/"></script>
    <title>IPTV Recorder</title>
    <script type="module" crossorigin src="/static/assets/index-uWiN8XcQ.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-JlNndAsZ.css">
  </head>
  <script>
    window.API_ROOT = "/";
    window.CSRF_TOKEN = "";
  </script>
  <body class="overflow-x-hidden">
    <div id="app"></div>
  </body>
</html>
