<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPTV Recorder</title>
    <script type="module" crossorigin src="/static/assets/index-OASp_kfh.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-eLsTo6a6.css">
  </head>
  <script>
    window.API_ROOT = "/"
    window.CSRF_TOKEN = "{{ csrf_token }}" // when same origin and logged in via admin, it is mandatory
  </script>
  <body>
    <div id="app"></div>
  </body>
</html>
